{% extends 'mail_app/base.html' %}
{% load mailing_tag %}
{% block content %}



    <div class="container">
        <div class="row justify-content-center">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="{% url "mail_app:cabinet" %}" class="btn btn-primary">Назад</a>
{#                    <a href="{% url "mail_app:mailing_del" object.pk %}" class="btn btn-primary">delete</a>#}

                </form>
            </div>
        </div>
    </div>

{% endblock %}